<div class="col-md-6">
{{#each burgers}}
{{#unless this.devoured}}
  <div class=burger{{this.devoured}}>
    <h2>Burger's unique id: {{this.id}}</h2>
    <h2>Burger's name: {{this.burger_name}}</h2>
      <form action="/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value=1>
        <button type="submit">EAT ME!</button>
      </form>
  </div>
{{/unless}}
{{/each}}
</div>
<div class="col-md-6">
{{#each burgers}}
{{#if this.devoured}}
<div class=burger{{this.devoured}}>
  <h2>Burger's unique id: {{this.id}}</h2>
  <h2>Burger's name: {{this.burger_name}}</h2>
</div>
{{/if}}  
{{/each}}
</div>